/* General reset and body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1200px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left-side {
    position: relative;
    background-color: rgb(127, 9, 127);
    padding: 40px;    
}

.profile-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
}

.profile-section .profile-img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-section .profile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-section h2 {
    color: rgb(255, 223, 0);
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4rem;
}

.profile-section span {
    font-size: 0.8rem;
    font-weight: 300;
}

.contact-info {
    padding-top: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid whitesmoke;
}

.title {
    color: rgb(255, 223, 0);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;    
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: pink;
}

.contact-info ul li .text{
    text-decoration: none;
    color: white;
}

.contact-info ul li span {
    color: #fff;
    font-weight: 300;
}

.contact-info.education li {
    margin-bottom: 15px;
    line-height: 25px;
}

.contact-info.education h5 {
    color: white;
    font-weight: 500;
}

.contact-info.education h4:nth-child(2) {
    color: white;
    font-weight: 500;
}

.contact-info.education h4 {
    color: white;
    font-weight: 300;
}

.contact-info.skills {
    border-bottom: none;
}

.contact-info.skills ul {
    color: #fff;    
}

.contact-info.skills ul li {
    list-style: disc;
}

/* Right Side */
.container .right-side {
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: rgb(127, 9, 127);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;     
}

.workExperience ul {
    list-style-type: none;
    padding-left: 0;
}

.workExperience > ul > li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
}

.bolded {
    font-weight: bold;
    color: rgb(122, 13, 122);
}

.workExperience > ul > li::before {
    background-color: #b8abab;
    width: 0.05cm;
    content: '';
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm;
    left: 0.05cm;
}

.workExperience > ul > li::after {
    content: '';
    position: absolute;
    background-color: #484444;
    border-radius: 50%;
    left: -0.05cm;
    top: 0;
    width: 0.25cm;
    height: 0.25cm;
}

.details ul {
    padding-left: 0.5cm;
    list-style-type: disc;
}

.jobPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jobPosition span, 
.projectName span {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Additional space between sections */
.workExperience {
    margin-bottom: 50px;
}

.certificate-links{
    text-decoration: none;
    color: black;
}

/* Responsive design */
@media(max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}
